BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> e9d9aa42d653

CREATE TABLE users (
    id BIGSERIAL NOT NULL, 
    telegram_id VARCHAR(100) NOT NULL, 
    full_name VARCHAR(200), 
    username VARCHAR(100), 
    city VARCHAR(100), 
    desired_position VARCHAR(200), 
    skills TEXT, 
    base_resume TEXT, 
    scheduler_enabled BOOLEAN, 
    scheduler_times VARCHAR(100), 
    check_interval_hours INTEGER, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_telegram_id ON users (telegram_id);

CREATE TABLE vacancies (
    id BIGSERIAL NOT NULL, 
    hh_id VARCHAR(50) NOT NULL, 
    name VARCHAR(500) NOT NULL, 
    company_name VARCHAR(300) NOT NULL, 
    area_name VARCHAR(100), 
    salary_from INTEGER, 
    salary_to INTEGER, 
    salary_currency VARCHAR(10), 
    salary_gross BOOLEAN, 
    experience VARCHAR(100), 
    schedule VARCHAR(100), 
    employment VARCHAR(100), 
    description TEXT, 
    skills TEXT, 
    url VARCHAR(500) NOT NULL, 
    is_archived BOOLEAN, 
    published_at TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_vacancies_hh_id ON vacancies (hh_id);

CREATE TABLE llm_settings (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    provider VARCHAR(50), 
    api_key VARCHAR(500), 
    base_url VARCHAR(500), 
    model_name VARCHAR(100), 
    temperature FLOAT, 
    max_tokens INTEGER, 
    enable_resume_generation BOOLEAN, 
    enable_cover_letter_generation BOOLEAN, 
    enable_vacancy_analysis BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (user_id)
);

CREATE TABLE search_filters (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    keywords VARCHAR(500), 
    region VARCHAR(100), 
    salary_from INTEGER, 
    salary_to INTEGER, 
    experience VARCHAR(50), 
    employment VARCHAR(50), 
    schedule VARCHAR(50), 
    only_with_salary BOOLEAN, 
    search_radius INTEGER, 
    period INTEGER, 
    is_active BOOLEAN, 
    last_checked TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE TABLE user_vacancies (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    vacancy_id BIGINT NOT NULL, 
    is_saved BOOLEAN, 
    is_applied BOOLEAN, 
    is_favorite BOOLEAN, 
    is_viewed BOOLEAN, 
    notes TEXT, 
    viewed_at TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    FOREIGN KEY(vacancy_id) REFERENCES vacancies (id)
);

INSERT INTO alembic_version (version_num) VALUES ('e9d9aa42d653') RETURNING alembic_version.version_num;

-- Running upgrade e9d9aa42d653 -> c11046bb1953

UPDATE alembic_version SET version_num='c11046bb1953' WHERE alembic_version.version_num = 'e9d9aa42d653';

-- Running upgrade c11046bb1953 -> 2aeef0326b2a

UPDATE alembic_version SET version_num='2aeef0326b2a' WHERE alembic_version.version_num = 'c11046bb1953';

-- Running upgrade 2aeef0326b2a -> add_responses_tables

ALTER TABLE users ADD COLUMN hh_resume_id VARCHAR(100);

ALTER TABLE users ADD COLUMN contact_email VARCHAR(200);

ALTER TABLE users ADD COLUMN contact_phone VARCHAR(50);

CREATE TABLE generated_resumes (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    vacancy_id BIGINT NOT NULL, 
    title VARCHAR(200) NOT NULL, 
    content TEXT NOT NULL, 
    hh_resume_id VARCHAR(100), 
    is_uploaded_to_hh BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    FOREIGN KEY(vacancy_id) REFERENCES vacancies (id)
);

CREATE TABLE cover_letters (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    vacancy_id BIGINT NOT NULL, 
    title VARCHAR(200) NOT NULL, 
    content TEXT NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    FOREIGN KEY(vacancy_id) REFERENCES vacancies (id)
);

CREATE INDEX ix_generated_resumes_user_id ON generated_resumes (user_id);

CREATE INDEX ix_generated_resumes_vacancy_id ON generated_resumes (vacancy_id);

CREATE INDEX ix_cover_letters_user_id ON cover_letters (user_id);

CREATE INDEX ix_cover_letters_vacancy_id ON cover_letters (vacancy_id);

UPDATE alembic_version SET version_num='add_responses_tables' WHERE alembic_version.version_num = '2aeef0326b2a';

-- Running upgrade add_responses_tables -> 9e711bb01a81

DROP INDEX ix_cover_letters_user_id;

DROP INDEX ix_cover_letters_vacancy_id;

DROP INDEX ix_generated_resumes_user_id;

DROP INDEX ix_generated_resumes_vacancy_id;

ALTER TABLE users ADD COLUMN hh_access_token VARCHAR(500);

ALTER TABLE users ADD COLUMN hh_refresh_token VARCHAR(500);

ALTER TABLE users ADD COLUMN hh_token_expires TIMESTAMP WITHOUT TIME ZONE;

UPDATE alembic_version SET version_num='9e711bb01a81' WHERE alembic_version.version_num = 'add_responses_tables';

-- Running upgrade 9e711bb01a81 -> 354420ba231b

ALTER TABLE users ADD COLUMN encryption_key VARCHAR(500);

ALTER TABLE users ADD COLUMN encryption_salt VARCHAR(100);

ALTER TABLE users ADD COLUMN hh_client_id_encrypted VARCHAR(500);

ALTER TABLE users ADD COLUMN hh_client_secret_encrypted VARCHAR(500);

ALTER TABLE users ADD COLUMN hh_access_token_encrypted VARCHAR(500);

ALTER TABLE users ADD COLUMN hh_refresh_token_encrypted VARCHAR(500);

ALTER TABLE users ADD COLUMN llm_api_key_encrypted VARCHAR(500);

ALTER TABLE users ADD COLUMN llm_base_url_encrypted VARCHAR(500);

ALTER TABLE users ADD COLUMN contact_email_encrypted VARCHAR(500);

ALTER TABLE users ADD COLUMN contact_phone_encrypted VARCHAR(500);

ALTER TABLE users ADD COLUMN data_integrity_hash VARCHAR(200);

UPDATE alembic_version SET version_num='354420ba231b' WHERE alembic_version.version_num = '9e711bb01a81';

COMMIT;

